@using System.Security.Claims
@using Microsoft.EntityFrameworkCore
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Header -->
<header class=" text-green text-center py-3 myBorder">
    <div class="container">
        <h1 class="myTytle display-4 ">Benvenuti su Match!</h1>
        <p class="lead">Il calcetto a portata di click!</p>
    </div>
</header>

<!-- Profilo incompleto -->
@if (User.Identity.IsAuthenticated)
{
    <div class="container py-4">
        <div class="d-flex align-items-center">
            <!-- Icona posizionata a sinistra del nome utente -->
            <i class="bi bi-person-fill" style="font-size: 24px; color: black; margin-right: 10px;"></i>

            <!-- Nome utente -->
            <h1 class="mb-0" style="font-size: 24px;">@User.Identity.Name</h1>
        </div>

        @if (Model.ProfiloIncompleto)
        {
            <div class="alert alert-info mt-4">
                Completa il tuo profilo! <a asp-controller="Profile" asp-action="EditProfile">Clicca qui</a> per modificare il profilo.
            </div>
        }
    </div>
}

<!-- Partite create -->
<section class="py-5">
    <div class="container">
        <h2 class="text-center fs-2 mb-4">Partite che hai creato</h2>
        @if (Model.PartiteCreate != null && Model.PartiteCreate.Any())
        {
            <div class="row">
                @foreach (var partita in Model.PartiteCreate)
                {
                    <div class="col-md-4 mb-4">
                        <a href="@Url.Action("ForMatch", "Chat", new { matchId = partita.Id })" class="text-decoration-none text-dark">
                            <div class="card mb-4 shadow-sm h-100 myCard myCardHoover">
                                <div class="card-body">
                                    <h5 class="card-title">Partita del @partita.DataInizio.ToString("dd/MM/yyyy")</h5>
                                    <p class="card-text">
                                        <strong>Ora Inizio:</strong> @partita.OraInizio.ToString(@"hh\:mm")<br />
                                        <strong>Campo:</strong> @partita.Campo.NomeCampo
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="text-center">Non hai creato partite.</p>
        }
    </div>
</section>

<hr />

<!-- Partite partecipate -->
<section class="py-5">
    <div class="container">
        <h2 class="text-center fs-2 mb-4">Partite a cui stai partecipando</h2>
        @if (Model.PartitePartecipate != null && Model.PartitePartecipate.Any())
        {
            <div class="row">
                @foreach (var booking in Model.PartitePartecipate)
                {
                    <div class="col-md-4 mb-4">
                        <a href="@Url.Action("ForMatch", "Chat", new { matchId = booking.Partita.Id })" class="text-decoration-none text-dark">
                            <div class="card mb-4 shadow-sm h-100 myCard myCardHoover">
                                <div class="card-body">
                                    <h5 class="card-title">Partita del @booking.Partita.DataInizio.ToString("dd/MM/yyyy")</h5>
                                    <p class="card-text">
                                        <strong>Ora Inizio:</strong> @booking.Partita.OraInizio.ToString(@"hh\:mm")<br />
                                        <strong>Campo:</strong> @booking.Partita.Campo.NomeCampo
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="text-center">Non hai partecipato a nessuna partita.</p>
        }
    </div>
</section>

<!-- Sezione Servizi -->
<section class="bg-light py-5">
    <div class="container">
        <h2 class="text-center mb-4 fw-bold ">La Nostra Passione</h2>
        <p class="text-center">
            Su <strong>Match!</strong>, il campo da gioco è solo l'inizio. Crediamo che ogni partita di calcetto sia un'occasione per divertirsi, mettersi alla prova e creare nuovi legami. La nostra missione è offrire una piattaforma facile e intuitiva, dove tu e i tuoi amici possiate organizzare e prenotare partite in modo semplice e veloce.

            Con passione e impegno, lavoriamo per garantire che ogni volta che indossi gli scarpini, il tuo unico pensiero sia giocare. Noi ci occupiamo del resto!
        </p>
    </div>
</section>

<!-- Footer -->
<footer class="myBg text-white text-center py-3">
    <p class="mb-0 ">Grazie per aver scelto Match!</p>
</footer>
