@model Capstone.Models.Matches

<h2>Conferma eliminazione</h2>

<p>Sei sicuro di voler eliminare la partita "@Model.Id"?</p>

<div>
    <h4>Partita</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Data Inizio
        </dt>
        <dd class="col-sm-10">
            @Model.DataInizio.ToString("dd/MM/yyyy")
        </dd>

        <dt class="col-sm-2">
            Ora Inizio
        </dt>
        <dd class="col-sm-10">
            @Model.OraInizio.ToString(@"hh\:mm")
        </dd>

        <dt class="col-sm-2">
            Campo
        </dt>
        <dd class="col-sm-10">
            @Model.Campo.NomeCampo
        </dd>
    </dl>

    <form asp-action="DeleteConfirmed" asp-route-id="@Model.Id" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Elimina</button>
        <a asp-action="MatchList" class="btn btn-secondary">Annulla</a>
    </form>
</div>

