@model Capstone.Models.ViewModels.MatchListViewModel

<h2>Partite a cui partecipi</h2>
<div class="row">
    @foreach (var match in Model.MatchesPartecipate)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm myCard">
                <div class="card-body">
                    <h5 class="card-title">@match.DataInizio.ToString("dd/MM/yyyy")</h5>
                    <p class="card-text">
                        <strong>Ora Inizio:</strong> @match.OraInizio.ToString(@"hh\:mm")<br />
                        <strong>Campo:</strong> @(match.Campo != null ? match.Campo.NomeCampo : "Campo non disponibile")
                    </p>
                    <div class="d-flex gap-2">
                        <a asp-action="MatchDetails" asp-route-id="@match.Id" class="btn secondButton btn-sm">Dettagli</a>
                        <a asp-action="ForMatch" asp-controller="Chat" asp-route-matchId="@match.Id" class="btn firstButton btn-sm">Accedi alla Chat</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<hr />

<h2>Partite a cui non partecipi</h2>
<div class="row">
    @foreach (var match in Model.MatchesNonPartecipate)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm myCard">
                <div class="card-body">
                    <h5 class="card-title">@match.DataInizio.ToString("dd/MM/yyyy")</h5>
                    <p class="card-text">
                        <strong>Ora Inizio:</strong> @match.OraInizio.ToString(@"hh\:mm")<br />
                        <strong>Campo:</strong> @(match.Campo != null ? match.Campo.NomeCampo : "Campo non disponibile")
                    </p>
                    <div class="d-flex gap-2">
                        <a asp-action="MatchDetails" asp-route-id="@match.Id" class="btn secondButton btn-sm">Dettagli</a>
                        @if (Model.BookedMatchIds != null && !Model.BookedMatchIds.Contains(match.Id))
                        {
                            <a asp-controller="Booking" asp-action="BookAndPay" asp-route-id="@match.Id" class="btn firstButton btn-sm">Partecipa</a>
                        }
                        else
                        {
                            <span class="text-success">Già registrato</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
