@model IEnumerable<Capstone.Models.Fields>

<h2>Lista dei Campi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome Campo</th>
            <th>Città</th>
            <th>Indirizzo</th>
            <th>Prezzo Orario</th>
            @if (User.IsInRole("gestore") || User.IsInRole("admin"))
            {
                <th>Azioni</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var campo in Model)
        {
            <tr>
                <td>@campo.NomeCampo</td>
                <td>@campo.Città</td>
                <td>@campo.Indirizzo</td>
                <td>@campo.PrezzoOrario €</td>
                @if (User.IsInRole("gestore") || User.IsInRole("admin"))
                {
                    <td>
                        <a asp-action="EditField" asp-route-id="@campo.Id" class="btn btn-warning">Modifica</a>
                        <a asp-action="DeleteField" asp-route-id="@campo.Id" class="btn btn-danger">Elimina</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
